body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    background-color: #505050
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto
}

header {
    width: 100%;
    height: 8%;
    border-bottom: 1px solid #353635
}

.logo {
    color: #000;
    font-weight: 700;
    margin-left: auto;
    letter-spacing: 4px;
    margin-right: auto;
    text-align: center;
    padding-top: 15px;
    line-height: 2em;
    font-size: 22px
}

.hero_header {
    color: #000;
    text-align: center;
    margin: 0;
    letter-spacing: 4px
}

.text_column {
    width: 90%;
    text-align: left;
    font-weight: lighter;
    line-height: 25px;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    color: #A3A3A3
}

.gallery {
    clear: both;
    display: inline-block;
    width: 100%;
    padding-bottom: 35px;
    padding-top: 0;
    margin-top: -5px;
    margin-bottom: 0
}

.thumbnail {
    width: 23%;
    text-align: center;
    float: left;
    margin-top: 35px;
    padding-bottom: 20px;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 3px;
    padding-top: 20px;
    border-bottom: 4px solid #000
}

.gallery .thumbnail h4 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgb;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px
}

.gallery .thumbnail p {
    margin: 0;
    color: #B3B3B3;
    text-align: left;
    padding-left: 20px
}

.intro {
    padding-bottom: 35px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline-block
}

.column {
    width: 50%;
    text-align: center;
    padding-top: 30px;
    float: left
}

.intro .column h3 {
    color: #fff;
    text-align: center
}

.intro .column p {
    color: #fff;
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    line-height: 25px;
    font-weight: lighter;
    margin-left: 20px;
    margin-right: 20px;
    width: 80%;
    margin-top: 4%
}

.cards {
    width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 200px;
    opacity: .8
}

.container .footer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 2px;
    border-top-width: 2px;
    background-color: #202327;
    border-radius: 16px
}

.profile {
    width: 50%
}

.gallery .thumbnail .tag {
    color: #5D5E5D;
    text-align: left;
    padding: 4px 20px
}

@media (max-width: 320px) {
    .logo {
        width: 100%;
        text-align: center;
        margin: 13px 0 0
    }

    .text_column {
        width: 100%;
        text-align: justify;
        padding: 0;
        padding-left: 20px
    }

    .intro .column p {
        width: 80%;
        margin-left: 0
    }

    .thumbnail {
        width: 100%
    }

    .column {
        width: 100%;
        margin-top: 0
    }

    .hero_header {
        padding-left: 10px;
        padding-right: 10px;
        line-height: 22px;
        text-align: center
    }
}

@media (min-width: 321px)and (max-width: 767px) {
    .logo {
        width: 100%;
        text-align: center;
        margin: 13px 0 0
    }

    .text_column {
        width: 100%;
        text-align: left;
        padding: 0;
        padding-left: 20px;
        padding-right: 20px;
        width: 90%
    }

    .thumbnail {
        width: 100%;
        width: 100%
    }

    .column {
        width: 100%;
        margin-top: 0;
        width: 100%;
        margin-left: 0;
        margin-right: 0
    }

    .profile {
        width: 100%
    }

    .intro .column p {
        width: 90%;
        text-align: center;
        padding-left: 0
    }
}

@media (min-width: 768px) and (max-width: 1096px) {
    .text_column {
        width: 100%;
        width: 90%;
        margin: 0;
        padding: 20px
    }

    .thumbnail {
        width: 48%
    }

    .intro .column p {
        width: 80%
    }
}

.container header {
    background-color: #f3e3d7;
    border-radius: 16px
}

.container .intro {
    background-color: #202327;
    padding-bottom: 65px;
    padding-top: 35px;
    border-radius: 16px
}

#contact {
    background-color: #202327;
    border-radius: 16px
}

.container>div {
    background-color: #f3e3d7 !important;
    padding-bottom: 35px
}

.container div .thumbnail {
    background-color: #afafaf;
    background-image: linear-gradient(to right, #405167 0%, #353559 100%);
    background-size: auto;
    color: #fff;
    border-bottom-color: #640c68;
    box-shadow: 0 0 10px 0 #a8a8a8;
    border-radius: 24px
}

.container div .tag {
    color: #e2e2e2 !important
}

.container .header h1 {
    letter-spacing: 0;
    word-spacing: 3px;
    font-size: 25px
}

.intro h3 {
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 2px;
    word-spacing: 2px
}

.intro p {
    word-spacing: 4px;
    text-align: justify;
    font-weight: 400 !important
}

.container .intro .column {
    padding-bottom: 5px;
    padding-top: 50px
}

.container a img {
    box-shadow: none
}

#contact p,
#contact .button,
.container div .text_column {
    color: #fff
}

@media (min-width:321px) {
    .container .intro .column {
        margin-top: auto
    }
}

.gallery-section {
    border-radius: 16px;
    margin-top: 4px;
    margin-bottom: 12px
}