body {
    background-color: #424c4c;
    background-image: url(https://images.unsplash.com/photo-1657561756804-c4a894e36ce9?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNTc5fDB8MXxhbGx8MTd8fHx8fHwyfHwxNjU3NTgwOTkx&ixlib=rb-1.2.1&q=80&w=2560);
    background-size: cover;
    font-family: "Roboto", sans-serif;
    margin: 0
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 90%
}

header {
    border-bottom: 1px solid #353635;
    height: 8%;
    width: 100%
}

.logo {
    color: #000;
    text-align: center
}

.logo {
    font-size: 22px;
    font-weight: 700;
    line-height: 2em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px
}

.gallery .thumbnail h4,
.text_column {
    padding-left: 20px;
    padding-right: 20px;
    text-align: left
}

.text_column {
    float: left;
    font-weight: lighter;
    line-height: 25px;
    width: 90%
}

.gallery {
    clear: both;
    display: inline-block;
    margin-bottom: 0;
    margin-top: -5px;
    padding-bottom: 35px;
    padding-top: 0;
    width: 100%
}

.thumbnail {
    border-bottom: 4px solid #000;
    border-radius: 3px;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 35px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    width: 23%
}

.gallery .thumbnail h4 {
    color: rgb;
    margin-bottom: 5px;
    margin-top: 5px
}

.gallery .thumbnail p {
    color: #b3b3b3;
    margin: 0;
    padding-left: 20px;
    text-align: left
}

.intro {
    display: inline-block;
    margin-bottom: 4px;
    margin-top: 4px;
    padding-bottom: 35px
}

.column {
    float: left;
    padding-top: 30px;
    text-align: center;
    width: 50%
}

.container .footer,
.intro .column h3 {
    color: #fff;
    text-align: center
}

.intro .column p {
    color: #fff;
    font-weight: lighter;
    line-height: 25px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 4%;
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    width: 80%
}

.cards {
    height: auto;
    max-height: 300px;
    max-width: 300px;
    visibility: visible;
    width: 100%
}

.dummysquare {
    max-height: 400px;
    max-width: 400px;
    padding: 5%;
    visibility: hidden
}

.container .footer {
    background-color: #202327;
    border-radius: 6px;
    border-top-width: 2px;
    font-weight: lighter;
    padding-bottom: 20px;
    padding-top: 20px;
    text-transform: uppercase
}

.profile {
    width: 50%
}

.gallery .thumbnail .tag {
    color: #5d5e5d;
    padding: 4px 20px;
    text-align: left
}

@media (max-width:320px) {
    .logo {
        margin: 13px 0 0;
        text-align: center;
        width: 100%
    }

    .text_column {
        padding: 0 0 0 20px;
        text-align: justify;
        width: 100%
    }

    .intro .column p {
        margin-left: 0;
        width: 80%
    }

    .column,
    .thumbnail {
        width: 100%
    }

    .column {
        margin-top: 0
    }
}

@media (min-width:321px) and (max-width:767px) {
    .logo {
        margin: 13px 0 0;
        text-align: center;
        width: 100%
    }

    .text_column {
        padding: 0 20px;
        text-align: left;
        width: 90%
    }

    .column {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0
    }

    .intro .column p {
        padding-left: 0;
        text-align: center;
        width: 90%
    }

    .thumbnail,
    .column,
    .profile {
        width: 100%
    }
}

@media (min-width:768px) and (max-width:1096px) {
    .text_column {
        margin: 0;
        padding: 20px;
        width: 90%
    }

    .thumbnail {
        width: 48%
    }

    .intro .column p {
        width: 80%
    }
}

.container header {
    background-color: #f3e3d7;
    border-radius: 6px;
    transform: translatex(0) translatey(0)
}

.container .intro {
    background-color: rgba(12, 12, 54, .66);
    padding-bottom: 65px;
    padding-top: 35px
}

.container .intro {
    background-color: #202327;
    border-radius: 6px
}

.container>div {
    background-color: #f3e3d7 !important;
    padding-bottom: 35px
}

.container div .thumbnail {
    background-color: #afafaf;
    background-image: linear-gradient(to right, #405167 0, #353559 100%);
    background-size: auto;
    border-bottom-color: #640c68;
    border-radius: 4px;
    box-shadow: 0 0 10px 0#a8a8a8;
    color: #fff
}

.container div .tag {
    color: #e2e2e2 !important
}

.container .header h1 {
    box-shadow: none;
    font-size: 30px
}

.container .header h1,
.intro h3,
.intro p {
    text-shadow: rgba(0, 0, 0, .3)0 1px 1px
}

.intro h3 {
    font-size: 30px;
    line-height: 16px;
    word-spacing: 2px
}

.intro p {
    font-size: 18px;
    font-weight: 400 !important
}

.container .intro .column {
    padding-bottom: 5px;
    padding-top: 50px
}

.container a img,
.intro img {
    filter: drop-shadow(6px 6px 5px #1e1e1e)
}

.container div .text_column {
    color: #fff
}

@media (min-width:321px) {
    .container .intro .column {
        margin-top: auto
    }
}

.gallery-section {
    border-radius: 6px;
    margin-bottom: 4px;
    margin-top: 4px
}

.container,
.container .gallery-section {
    transform: translatex(0) translatey(0)
}

.container .gallery-section {
    background-color: rgba(255, 201, 168, .57) !important;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px
}

.gallery-section div .thumbnail {
    box-shadow: 0 0 10px 0#514f4c;
    text-shadow: rgba(0, 0, 0, .3)0 1px 1px
}

.container footer {
    background-color: rgba(8, 8, 32, .74) !important;
    line-height: 11px;
    padding-top: 30px !important;
    text-shadow: #fff 0 1px 1px, #000 0-1px 1px
}

.text_column {
    color: #c5c5c5 !important
}

.gallery-section div h4 {
    font-size: 25px;
    padding: 4px;
    text-align: center !important
}

.gallery-section div .tag {
    padding-bottom: 30px !important;
    text-align: center !important
}