.movie {
    width: 100%;
    height: 100%;
}

body {
    background: #161718;
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: min(1vw, 1.778vh);
}

div.viewport {
    width: 100em;
    height: 56.25em;
}

div.viewport>p {
    font-size: 3em;
    text-align: center;
}